<div class="centered-content">
    <div class="form">
        <span class="form_title">Reset Password</span>
        <form [formGroup]="EmailForm">

            <div class="form-group">
                <div class="form_input">
                    <i class="ri-rock-line"></i>
                    <input type="email" formControlName="email" placeholder="email" [ngClass]="{ 'is-invalid': email}" />
                    <span class="bar"></span>
                </div>
                <div *ngIf="emailErrors.errors && emailErrors.touched" class="invalid-feedback">
                    <div *ngIf="emailErrors.errors['required']">email is required</div>
                    <div *ngIf="emailErrors.errors['email']">email is invalid</div>
                </div>
                <!-- <div class="form_input">
                    <i class="ri-rock-line"></i>
                    <input type="email" formControlName="code" placeholder="xxxxx" [ngClass]="{ 'is-invalid': code}" />
                    <span class="bar"></span>
                </div>
                <div *ngIf="codeErrors.errors && codeErrors.touched" class="invalid-feedback">
                    <div *ngIf="codeErrors.errors['required']">email is required</div>
                </div> -->
            </div>
            <button class="form_button" type="button" [disabled]="!EmailForm.valid"
                (click)="onSubmit()">Send rest link</button>
        </form>
    </div>
</div>

