<app-navbar></app-navbar>


<div class="background p-5">
    <div class="delivery-items-container has-background-light">
        <h1 class="title has-text-primary">
            Basket
        </h1>

        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <p class="subtitle">Title</p>
                </div>
                <div class="col text-center">
                    <p class="subtitle">Supplier</p>

                </div>
                <div class="col text-center">
                    <p class="subtitle">Price</p>

                </div>
                <div class="col text-center">
                    <p class="subtitle">Quantity</p>
                </div>
            </div>
        </div>

        

        <!-- Delivery Elements -->
        <div class="outer-container">
            <div class="inner-container">
                <div class="progress-spinner" *ngIf="isLoading">
                    <mat-progress-spinner class="spinner" color="accent" mode="indeterminate" minDuration="3000"></mat-progress-spinner>
                </div>
                <div class="delivery" *ngFor="let product of Products;index as i">

                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <p class="product-elements text-center">{{product.product_name}}</p>
                            </div>
                            <div class="col">
                                <p class="product-elements text-center">{{SupplierShopNames[i]}}</p>
                            </div>
                            <div class="col">
                                <p class="product-elements text-center">€{{product.product_price}}</p>
                            </div>
                            <div class="col">
                                <p class="product-elements text-center">{{product.product_quantity}}</p>
                            </div>
                            <div class="col">
                                <p class="product-elements text-center">{{product.product_quantity}}</p>
                            </div>

                            <div class="col d-flex flex-row justify-content-center align-items-center">
                                <button class="addToBasket" [disabled]="product.product_quantity == 0" mat-flat-button
                                    *ngIf="!product.product_in_basket" (click)="editProductInBasket(product, product.product_quantity)">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <button class="deleteIcon" (click)="removeProductFromBasket(product)"
                                    mat-flat-button>
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="delivery-items-container has-background-light my-5">
        <div class="container">
            <div class="row">
                <div class="col"></div>
                <div class="col"></div>
                <div class="col text-center">
                    <p class="subtitle price_style">Total</p>
                </div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col"></div>
                <div class="col text-center">
                    <p class="subtitle">€{{totalPrice}}</p>
                </div>
            </div>
        </div>
    </div>
    
</div>
