@import "../../../../main-style.scss";


* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}



.form-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    position: relative;
    width: 500px;
    padding: 10rem 0;
    color: #fff;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 1px 1rem rgba(0, 0, 0, .1);
    isolation: isolate;
}

.form::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 50%;
    width: 100%;
    background: $light-green;
    z-index: -1;
}

.form_title {
    position: absolute;
    top: 3.5rem;
    left: 75%;
    width: 100%;
    transform: translateX(-50%);
    font-size: 2.5rem;
}

.form>form {
    padding: 2.5rem;
    background-color: inherit;
}

.form_input {
    position: relative;
    display: flex;
    align-items: baseline;
    margin: 0 auto;
}

.form_input>i {
    font-size: 2rem;
    margin-right: 1rem;
    color: #fc6767;
}

.form_input input {
    position: relative;
    width: 100%;
    font: inherit;
    padding: 1rem 0;
    margin-top: .5rem;
    border: none;
    outline: none;
}

.form_input .bar {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .1);
    width: 100%;
    height: 1px;
}



.form_input>input:focus+.bar::before {
    transform: scaleX(1);
}

.form_button {
    display: block;
    margin: 2rem auto 1rem;
    padding: 1rem 5rem;
    background: linear-gradient(to left, $turquoise, $light-green);
    color: #fff;
    font: inherit;
    border: .5rem solid #fff;
    outline: none;
    cursor: pointer;
    border-radius: 3rem;
}

.delete_account{
    display: block;
        margin: 2rem auto 1rem;
        padding: 1rem 5rem;
        background: linear-gradient(to left, red, orange);
        color: #fff;
        font: inherit;
        border: .5rem solid #fff;
        outline: none;
        cursor: pointer;
        border-radius: 3rem;
}

.form_button:hover {
    background: linear-gradient(to right, #fc6767, #ec008c);
}

.invalid-feedback {
    display: inline;
}

.form_button:disabled,
button[disabled] {
    border: 1px solid #999999;
    background: #cccccc;
    color: #666666;
}

.form_switch {
    display: block;
    text-align: center;
    font-size: 1.5rem;
    color: #a1a1a1;
}

.form_switch a {
    text-decoration: none;
    color: #fc6767;
}

.form_switch a:hover {
    text-decoration: underline;
}




.container-fluid {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


label {
    color: black;
}