<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">


                    <a class="button is-primary" routerLink="/home">Home</a>
                    <a class="button is-primary" *ngIf="isAuthenticated$ | async" routerLink="/profile" routerLinkActive="active">Profile</a>
                    <a class="button is-primary" *ngIf="!(isAuthenticated$ | async)" (click)="handleLogin()">Login</a>
                    <a class="button is-primary" *ngIf="!(isAuthenticated$ | async)" (click)="handleSignUp()">SignUp</a>
                    <a class="button is-primary" *ngIf="(isAuthenticated$ | async)" (click)="handleLogout()">Log Out</a>

                </div>
            </div>
        </div>
    </div>
</nav>