* {
    margin: 0px;
    padding: 0px;
}

.container-fluid {
    background-color: #f4f6f8;
    height: 100vh;


    .title-row {
        padding-top: 60px;
        padding-bottom: 40px;
        padding-left: 40px;


        .title {
            color: #2c3e50;
            font-weight: 500;
        }
    }

    .details {
        background-color: white;
    }



    .row {
        .sidebar {
            padding-left: 40px;

            .sidebar-item {
                border-radius: 2px;
                padding: 10px;
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-items: center;
                margin-top: 20px;
                margin-right: 40px;
                position: relative;
                width: 90%;
                margin-bottom: 20px;
                cursor: pointer;

                h3 {
                    font-weight: 500;
                    font-size: medium;
                    color: grey;
                    margin-left: 10px;
                    margin-top: 0;
                    margin-bottom: 0;
                }

                &:hover {
                    background-color: #e2ecf6;

                    h3 {
                        color: #427fb8;
                    }
                }

                &:not(:hover)::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 90%;
                    height: 1px;
                    background-color: #ccc;
                }
            }
        }
    }

    @media (max-width: 895px) {
        .sidebar {
            .sidebar-item {
                h3 {
                    font-size: small;
                }

                &::after{
                    display: none;
                }

                
            }
        }
    }
}