<div class="centered-content">
    <div class="modal-box">
        <h1 class="title">Create a new product</h1>
        <form [formGroup]="pForm">
            <mat-form-field>
                <input type="text" matInput #ProductInput placeholder="Product Name" formControlName="ProductName">

                <mat-error>

                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <input type="text" matInput #Description placeholder="Description" formControlName="Description">

                <mat-error>

                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <input type="number" matInput #Price placeholder="Price" formControlName="Price">
            </mat-form-field>

            <div class="btn-Container">
                <button mat-raised-button color="primary" [disabled]="pForm.invalid"
                    (click)="crateProduct(ProductInput.value, Description.value, Price.value)">
                    Create
                </button>

                <button mat-raised-button color="accent" routerLink="/suppliers">
                    Cancel
                </button>
            </div>
        </form>
    </div>
</div>