* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container-fluid {
    width: 100%;
    height: 100%;

    // Get right of these ^^ later.

    padding: 50px;


    .second-title {
        font-weight: 500;
        padding-bottom: 10px;
    }


    .info-text {
        color: grey;
        margin-right: 20px;

    }

    mat-form-field {
        width: 90%;
    }

    .form-button{
        width: 10%;
        background-color: #1175d1;
    }



}


@media (max-width: 768px) {

    .container-fluid {
        padding: 10px;

        .info-text {
            padding-left: 30px;
            padding-right: 30px;
            padding-bottom: 10px;
            text-align: center;
            margin-right: 0px;

        }

        .title{
            margin-top: 10px;
        }

        .title,
        .second-title {
            padding-left: 25px;
            padding-right: 25px;
        }

        .profile-Form {
            padding-left: 25px;
            padding-right: 25px;
        }

        .mat-form-field {
            width: 100%;
        }



        hr {
            width: 94%;
        }

    }



}