<div class="centered-content">
    <div class="modal-box">
        <h1 class="title">Create a new Supplier</h1>
        <form [formGroup]="SupplierForm" (ngSubmit)="createSupplier(SupplierNameInput.value)">


            <mat-form-field>
                <input matInput #SupplierNameInput placeholder="Supplier Name" formControlName="SupplierName">

                <mat-error *ngIf="SupplierName!.touched">
                    You must enter a supplier name
                </mat-error>



            </mat-form-field>

            <div class="btn-Container">
                <button type="submit" mat-raised-button [disabled]="SupplierForm.invalid">
                    Create
                </button>
                <button mat-raised-button color="accent" routerLink="/suppliers">
                    Cancel
                </button>
            </div>

        </form>

    </div>
</div>