<div class="message-container">
    <div class="row">
        <div class="col-12">
            <div class="title">
                <h1>Your Order has been placed</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="textbody">
                <p>Thank you for shopping with Supplier Service</p>
                <p>If you wish to look at your order it should appear under your profile</p>
                <a routerLink="/profile">Take me there</a>
            </div>
        </div>

        <div class="row">
            <div class="button-container">
                <div class="col-12">
                    <button mat-raised-button class="custom-colour" (click)="closeModal()">Close</button>
                </div>

            </div>
        </div>

    </div>
</div>