<app-navbar></app-navbar>
<div class="container-fluid">

    <div class="sidenav-container">

        <div class="sidenav-header">
            <div class="sidenav-img"></div>
            <div class="sidenav-title">Dashboard</div>
        </div>

        <div class="sidenav-items-container">
            <div class="sidenav-items" [routerLink]="['/shop-configuration']">
                <div class="sidenav-items-icon">
                    <mat-icon>pie_chart</mat-icon>
                </div>
                <div class="sidenav-items-text">Overview</div>
            </div>
            <div class="sidenav-items active" [routerLink]="['/list-products']">
                <div class="sidenav-items-icon">
                    <mat-icon>list</mat-icon>
                </div>
                <div class="sidenav-items-text">Products</div>
            </div>
            <div class="sidenav-items" [routerLink]="['/new-product']">
                <div class="sidenav-items-icon">
                    <mat-icon>add</mat-icon>
                </div>
                <div class="sidenav-items-text">Add</div>
            </div>
            <div class="sidenav-items">
                <div class="sidenav-items-icon">
                    <mat-icon>inventory_2</mat-icon>
                </div>
                <div class="sidenav-items-text">Suppliers</div>
            </div>

            

        </div>

    </div>
    <div class="main">
        <h3 class="main-header">Products</h3>
        <div class="main-content">
            <app-list-products></app-list-products>
        </div>
    </div>

</div>