<div class="container-fluid">
    <div class="row">
        <app-top-widgets></app-top-widgets>
    </div>
    <div class="row">
        <div class="col-md-8">
            <app-sales-by-month></app-sales-by-month>
        </div>
        <div class="col-md-4">
            <app-sales-by-category></app-sales-by-category>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <app-recent-transactions *ngIf="!isLoading" [LastThreeOrders]="getOrders()"></app-recent-transactions>
        </div>

        <div class="col-md-8">
            <app-top-three-products></app-top-three-products>
        </div>
    </div>
</div>