<app-navbar></app-navbar>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display': displayStyle}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Howdy</h4>
            </div>
            <div class="modal-body">
                <p>Looks like you haven't finished setting up your shop profile</p>
                <p>How about you go do that?</p>
                <button type="button" class="btn btn-primary" (click)="navigateToShopConfiguration()">Set up
                    shop</button>
            </div>
        </div>
    </div>
</div>

<mat-sidenav-container>
    <mat-sidenav>

        <button class="btn btn-primary" [routerLink]="['/new-product']">Add Product</button>

    </mat-sidenav>
    <mat-sidenav-content>
<div class="content mat-elevation-z8">
    <app-shop-configuration-main></app-shop-configuration-main>
</div>
    </mat-sidenav-content>
</mat-sidenav-container>

