<div class="centered-content">
    <div class="form">
        <span class="form_title">Reset Password</span>
        <form [formGroup]="resetPasswordForm">

            <div class="form-group">
                <div class="form_input">
                    <i class="ri-rock-line"></i>
                    <input type="email" formControlName="code" placeholder="xxxx"
                        [ngClass]="{ 'is-invalid': code}" />
                    <span class="bar"></span>
                </div>
                <div *ngIf="codeErrors.errors && codeErrors.touched" class="invalid-feedback">
                    <div *ngIf="codeErrors.errors['required']">email is required</div>
                </div>
                <div class="form_input">
                    <i class="ri-rock-line"></i>
                    <input type="password" formControlName="password" placeholder="Password" [ngClass]="{ 'is-invalid': password}" />
                    <span class="bar"></span>
                </div>
                <div *ngIf="passwordErrors.errors && passwordErrors.touched" class="invalid-feedback">
                    <div *ngIf="passwordErrors.hasError('required')">Password is required</div>
                    <div *ngIf="passwordErrors.hasError('hasUppercase')">Password must contain at least one uppercase
                        letter</div>
                    <div *ngIf="passwordErrors.hasError('hasNumber')">Password must contain at least one number</div>
                    <div *ngIf="passwordErrors.hasError('hasSpecialCharacter')">Password must contain at least one special
                        character</div>
                    <div *ngIf="passwordErrors.hasError('hasValidLength')">Password must be at least 8 characters
                        long</div>
                </div>
            </div>
            <button class="form_button" type="button" [disabled]="!resetPasswordForm.valid" (click)="onSubmit()">Send rest
                link</button>
        </form>
    </div>
</div>