<div class="dashboard-header">
   <img src="../../../../assets/images/logo.png" alt="logo" class="header-icon">
    <div class="dashboard-title">Dashboard</div>
</div>
<div class="dashboard-list">
    <div class="dashboard-list-item active">
        <img src="../../../../assets/images/1. overview.png" alt="logo" class="list-icon">
        <div class="list-text">Overview</div>
    </div>
    <div class="dashboard-list-item">Customes</div>
    <div class="dashboard-list-item">Suppliers</div>
</div>