<div class="transactions">
    <div class="title">Last few transactions</div>
    <div class="transaction-wrapper">
        <div class="transaction" *ngFor="let products of ProductsInOrder">
           
            <div class="title">{{ products.product_name }}</div>
            <div class="price">{{ products.product_price }}</div>
           
            <div class="status" [ngClass]="{
          confirmed: LastThreeOrders[0].OrderStatus === 'confirmed',
          pending: LastThreeOrders[0].OrderStatus === 'pending',
          shipped: LastThreeOrders[0].OrderStatus === 'shipped'
        }">
                {{ LastThreeOrders[0].OrderStatus }}
            </div>
        </div>
    </div>
</div>