<div class="message-container">
    <div class="row">
        <div class="col-12">
            <div class="title">
                <h1>Your Order has Failed</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="textbody">
                <p>Unfortunately, your order has failed. You do not have enough balance to complete this order. Please
                    update your balance and try again..</p>
                <p>You can update your balance in your profile</p>
                <a routerLink="/profile">Take me there</a>
            </div>
        </div>

        <div class="row">
            <div class="button-container">
                <div class="col-12">
                    <button mat-raised-button class="custom-colour" (click)="closeModal()">Close</button>
                </div>

            </div>
        </div>

    </div>
</div>